ALTER TABLE public.quad_reservations ADD COLUMN IF NOT EXISTS price DECIMAL(10,2);
ALTER TABLE public.quad_reservations ADD COLUMN IF NOT EXISTS notes TEXT;
ALTER TABLE public.kiosk_reservations ADD COLUMN IF NOT EXISTS price DECIMAL(10,2);
ALTER TABLE public.kiosk_reservations ADD COLUMN IF NOT EXISTS notes TEXT;
